root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[tsc/testdata/**]
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset

[tsc/internal/locale/lcl/**]
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
