# http://editorconfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_size = 2

[*.yml]
indent_size = 2
