{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "warnOnUnsupportedTypeScriptVersion": false,
        "ecmaVersion": 6,
        "sourceType": "module",
        "project": "./src/tsconfig-base.json"
    },
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "plugins": [
        "@typescript-eslint", "microsoft-typescript"
    ],
    "rules": {
        "@typescript-eslint/adjacent-overload-signatures": "off",
        "@typescript-eslint/array-type": "off",
        "@typescript-eslint/ban-types": "off",
        "camelcase": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/class-name-casing": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/import/order": "off",
        "indent": "off",
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/member-ordering": "off",
        "@typescript-eslint/no-angle-bracket-type-assertion": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-misused-new": "error",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-object-literal-type-assertion": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/no-this-alias": "error",
        "@typescript-eslint/no-triple-slash-reference": "off",
        "@typescript-eslint/no-unnecessary-qualifier": "off",
        "@typescript-eslint/no-unnecessary-type-assertion": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/prefer-for-of": "error",
        "@typescript-eslint/prefer-function-type": "off",
        "@typescript-eslint/prefer-interface": "off",
        "@typescript-eslint/prefer-namespace-keyword": "off",
        "semi": "off",
        "@typescript-eslint/semi": "error",
        "@typescript-eslint/type-annotation-spacing": "off",
        "@typescript-eslint/unified-signatures": "off",

        "microsoft-typescript/object-literal-surrounding-space": "off",
        "microsoft-typescript/no-type-assertion-whitespace": "error",
        "microsoft-typescript/type-operator-spacing": "off",
        "microsoft-typescript/only-arrow-functions": "off",
        "microsoft-typescript/no-double-space": "off",
        "microsoft-typescript/boolean-trivia": "off",
        "microsoft-typescript/no-in-operator": "off",
        "microsoft-typescript/debug-assert": "error",
        "microsoft-typescript/no-keywords": "off",

        "arrow-body-style": "off",
        "arrow-parens": "off",
        "brace-style": "off",
        "comma-dangle": "off",
        "complexity": "off",
        "constructor-super": "error",
        "curly": ["error", "multi-line"],
        "dot-notation": "off",
        "eol-last": "off",
        "eqeqeq": "error",
        "guard-for-in": "off",
        "linebreak-style": "off",
        "max-classes-per-file": "off",
        "max-len": "off",
        "new-parens": "error",
        "no-bitwise": "off",
        "no-caller": "error",
        "no-cond-assign": "off",
        "no-console": "off",
        "no-debugger": "off",
        "no-duplicate-case": "error",
        "no-duplicate-imports": "error",
        "no-empty": "error",
        "no-eval": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "off",
        "no-invalid-this": "off",
        "no-multiple-empty-lines": "off",
        "no-new-func": "off",
        "no-new-wrappers": "error",
        "no-redeclare": "off",
        "no-return-await": "error",
        "no-restricted-globals": ["error",
            { "name": "setTimeout" },
            { "name": "setInterval" },
            { "name": "clearTimeout" },
            { "name": "setImmediate" },
            { "name": "clearImmediate" }
        ],
        "no-sequences": "off",
        "no-shadow": "off",
        "no-sparse-arrays": "error",
        "no-template-curly-in-string": "off",
        "no-throw-literal": "off",
        "no-trailing-spaces": "off",
        "no-undef-init": "error",
        "no-unsafe-finally": "error",
        "no-unused-expressions": "off",
        "no-unused-labels": "error",
        "no-var": "off",
        "object-shorthand": "off",
        "one-var": "off",
        "prefer-const": "off",
        "prefer-object-spread": "error",
        "quote-props": ["error", "consistent-as-needed"],
        "quotes": "off",
        "radix": "off",
        "sort-keys": "off",
        "space-before-function-paren": "off",
        "space-in-parens": "error",
        "unicode-bom": ["error", "never"],
        "use-isnan": "error",
        "valid-typeof": "off"
    }
}
