{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "warnOnUnsupportedTypeScriptVersion": false,
        "ecmaVersion": 6,
        "sourceType": "module",
        "project": "./src/tsconfig-base.json"
    },
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "plugins": [
        "@typescript-eslint", "jsdoc", "no-null", "import"
    ],
    "rules": {
        "@typescript-eslint/adjacent-overload-signatures": "error",
        "@typescript-eslint/array-type": "off",
        "@typescript-eslint/ban-types": "off",
        "camelcase": "off",
        "@typescript-eslint/camelcase": ["error", { "properties": "never", "allow": ["^[A-Za-z][a-zA-Za-z]+_[A-Za-z]+$"] }],
        "@typescript-eslint/class-name-casing": "error",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/import/order": "off",
        "indent": "off",
        "@typescript-eslint/indent": ["error", 4, {
            "flatTernaryExpressions": true,
            "FunctionDeclaration": { "parameters": 1, "body": 1 },
            "CallExpression": { "arguments": 1 },
            "ignoredNodes": ["TSTypeAnnotation"],
            "SwitchCase": 1
        }],
        "@typescript-eslint/interface-name-prefix": "error",
        "@typescript-eslint/member-ordering": "off",
        "@typescript-eslint/no-angle-bracket-type-assertion": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "error",
        "@typescript-eslint/no-misused-new": "error",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-object-literal-type-assertion": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/no-this-alias": "error",
        "@typescript-eslint/no-unnecessary-qualifier": "error",
        "@typescript-eslint/no-unnecessary-type-assertion": "error",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/prefer-for-of": "error",
        "@typescript-eslint/prefer-function-type": "error",
        "@typescript-eslint/prefer-interface": "error",
        "@typescript-eslint/prefer-namespace-keyword": "error",
        "semi": "off",
        "@typescript-eslint/semi": "error",
        "@typescript-eslint/triple-slash-reference": "error",
        "@typescript-eslint/type-annotation-spacing": "error",
        "@typescript-eslint/unified-signatures": "error",

        /** scripts/eslint/rules */
        "object-literal-surrounding-space": "error",
        "no-type-assertion-whitespace": "error",
        "type-operator-spacing": "error",
        "only-arrow-functions": ["error", {
            "allowNamedFunctions": true ,
            "allowDeclarations": true
        }],
        "no-double-space": "error",
        "boolean-trivia": "error",
        "no-in-operator": "error",
        "debug-assert": "error",
        "no-keywords": "error",

        /** eslint-plugin-import */
        "import/no-extraneous-dependencies": ["error", { "optionalDependencies": false }],

        /** eslint-plugin-no-null */
        "no-null/no-null": "error",

        /** eslint-plugin-jsdoc */
        "jsdoc/check-alignment": "error",

        /** eslint */
        "arrow-body-style": "off",
        "arrow-parens": "off",
        "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
        "comma-dangle": "off",
        "complexity": "off",
        "constructor-super": "error",
        "curly": ["error", "multi-line"],
        "dot-notation": "error",
        "eol-last": "off",
        "eqeqeq": "error",
        "guard-for-in": "off",
        "linebreak-style": ["error", "windows"],
        "max-classes-per-file": "off",
        "max-len": "off",
        "new-parens": "error",
        "no-bitwise": "off",
        "no-caller": "error",
        "no-cond-assign": "off",
        "no-console": "off",
        "no-debugger": "off",
        "no-duplicate-case": "error",
        "no-duplicate-imports": "error",
        "no-empty": "error",
        "no-eval": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "error",
        "no-invalid-this": "off",
        "no-multiple-empty-lines": "off",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-redeclare": "error",
        "no-return-await": "error",
        "no-restricted-globals": ["error",
            { "name": "setTimeout" },
            { "name": "setInterval" },
            { "name": "clearTimeout" },
            { "name": "setImmediate" },
            { "name": "clearImmediate" }
        ],
        "no-sequences": "off",
        "no-shadow": "off",
        "no-sparse-arrays": "error",
        "no-template-curly-in-string": "error",
        "no-throw-literal": "error",
        "no-trailing-spaces": "error",
        "no-undef-init": "error",
        "no-unsafe-finally": "error",
        "no-unused-expressions": "error",
        "no-unused-labels": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "one-var": "off",
        "prefer-const": "error",
        "prefer-object-spread": "error",
        "quote-props": ["error", "consistent-as-needed"],
        "quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "radix": "off",
        "sort-keys": "off",
        "space-before-function-paren": "off",
        "space-in-parens": "error",
        "unicode-bom": ["error", "never"],
        "use-isnan": "error",
        "valid-typeof": "off"
    },
    "overrides": [{
        "files": ["src/lib/*.d.ts"],
        "rules": {
            "@typescript-eslint/interface-name-prefix": "off",
            "@typescript-eslint/prefer-function-type": "off",
            "@typescript-eslint/unified-signatures": "off",

            /** scripts/eslint/rules */
            "no-keywords": "off",

            /** eslint */
            "no-var": "off"
        }
    }]
}
