[submodule "tests/cases/user/TypeScript-React-Starter/TypeScript-React-Starter"]
	path = tests/cases/user/TypeScript-React-Starter/TypeScript-React-Starter
	url = https://github.com/Microsoft/TypeScript-React-Starter
	ignore = all
[submodule "tests/cases/user/TypeScript-Node-Starter/TypeScript-Node-Starter"]
	path = tests/cases/user/TypeScript-Node-Starter/TypeScript-Node-Starter
	url = https://github.com/Microsoft/TypeScript-Node-Starter.git
	ignore = all
[submodule "tests/cases/user/TypeScript-React-Native-Starter/TypeScript-React-Native-Starter"]
	path = tests/cases/user/TypeScript-React-Native-Starter/TypeScript-React-Native-Starter
	url = https://github.com/Microsoft/TypeScript-React-Native-Starter.git
	ignore = all
[submodule "tests/cases/user/TypeScript-Vue-Starter/TypeScript-Vue-Starter"]
	path = tests/cases/user/TypeScript-Vue-Starter/TypeScript-Vue-Starter
	url = https://github.com/Microsoft/TypeScript-Vue-Starter.git
	ignore = all
[submodule "tests/cases/user/TypeScript-WeChat-Starter/TypeScript-WeChat-Starter"]
	path = tests/cases/user/TypeScript-WeChat-Starter/TypeScript-WeChat-Starter
	url = https://github.com/Microsoft/TypeScript-WeChat-Starter.git
	ignore = all
[submodule "tests/cases/user/create-react-app/create-react-app"]
	path = tests/cases/user/create-react-app/create-react-app
	url = https://github.com/facebook/create-react-app.git
	ignore = all
[submodule "tests/cases/user/webpack/webpack"]
	path = tests/cases/user/webpack/webpack 
        url = https://github.com/webpack/webpack.git
	ignore = all
[submodule "tests/cases/user/puppeteer/puppeteer"]
	path = tests/cases/user/puppeteer/puppeteer
	url = https://github.com/GoogleChrome/puppeteer.git
	ignore = all
[submodule "tests/cases/user/axios-src/axios-src"]
	path = tests/cases/user/axios-src/axios-src
	url = https://github.com/axios/axios.git
        ignore = all
[submodule "tests/cases/user/prettier/prettier"]
	path = tests/cases/user/prettier/prettier
	url = https://github.com/prettier/prettier.git
        ignore = all
