*.js linguist-language=TypeScript
**/*.json linguist-language=jsonc

* text=auto eol=lf

# Preserve line-ending-sensitive fixtures exactly.
tsc/testdata/** -text

# TODO: Remove this exception when this directory is converted or removed.
tsc/internal/locale/lcl/** -text
