name: 'Rich Navigation Indexing'
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

permissions:
  contents: read

# Ensure scripts are run with pipefail. See:
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference
defaults:
  run:
    shell: bash

jobs:
  richnav:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3

      - name: Install dependencies
        run: npm ci

      - uses: microsoft/RichCodeNavIndexer@v0.1
        with:
          languages: typescript
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          typescriptVersion: 0.6.0-next.18
          configFiles: .github/workflow-resources/.lsifrc.json
        continue-on-error: true
