name: Update LKG

on:
  workflow_dispatch: {}

permissions:
  contents: read

# Ensure scripts are run with pipefail. See:
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3

      - name: Configure Git and Update LKG
        run: |
          git config user.email "typescriptbot@microsoft.com"
          git config user.name "TypeScript Bot"
          npm ci
          npx hereby LKG
          npm test
          git diff
          git add --force ./lib
          git commit -m "Update LKG"
          git push
